<div class="equipe margin">
  <h2>Equipe</h2>
</div>
<div class="container-titulo margin">
  <h2>Especialização em Atendimento Veterinário</h2>
  <p>
    Na Clinina, profissionais qualificados se destacam, como a Dra. Saiaka Ingrid, Mestre e Doutoranda em Ciências Veterinárias, e a Dra. Victoria, Mestranda e Pós-graduanda em Nefrologia.
  </p>
</div>

<div class="fotos-equipe margin">
  <div class="fotos-equipe__card">
    <img src="../../../assets/img/equipe_1.png" alt="Imagem da Dra. Ingrid Rocha">
    <h4>Dra. Ingrid Rocha</h4>
  </div>
  <div class="fotos-equipe__card">
    <img src="../../../assets/img/equipe_2.png" alt="Imagem da Dra. Victoria Rocha">
    <h4>Dra. Victoria Rocha</h4>
  </div>
</div>

<app-contato></app-contato>
