<div class="container margin">
  <div class="container__quem-somos">
    <h2>Quem somos?</h2>
    <p>
      Somos uma família que encontrou inspiração no afeto incondicional da Maria Leonina, proprietária da Clinina, que nos levou a dedicar esse mesmo carinho aos pets da sua família. Nosso coração bate forte pelo bem-estar e saúde desses seres especiais, e estamos começando esta jornada com a missão sincera de oferecer amor, respeito e cuidado aos nossos amigos de quatro patas. Compreendemos profundamente a importância que esses companheiros têm em nossas vidas. Criamos esta empresa com a determinação de tratar o seu animalzinho com a mesma ternura que dedicamos à Nina, que nos presenteia com amor em cada olhar e lambeijo. Comprometemo-nos a fazer tudo por ela, assim como faremos pelo seu aumigo peludo. Juntos, celebraremos o laço especial com aqueles que nos trazem tanta alegria!
    </p>
  </div>
  <div class="container__Nina-img">
    <img src="../../../assets/img/Nina_1.png" alt="Foto da Nina">
    <a routerLink="/sobre">
      <div class="botao central">
        Conhecer Mais
      </div>
    </a>
  </div>
</div>
