<div class="onda"></div>
<div class="container-contato margin">
  <div class="container-contato__content">
    <h2>Faça o agendamento do seu pet:</h2>
    <p>Entre em contato para agendar atendimento veterinário ou banho e tosa.</p>
    <a class="link-solicitar" href="https://api.whatsapp.com/send?phone=5585999796336&text=Olá!%20Quero%20agendar%20uma%20consulta%20para%20o%20meu%20pet." target="_blank">
      <div class="mobile">
        <div class="botao">
          Solicitar Agendamento
        </div>
      </div>
    </a>
  </div>
  <div class="container-img">
    <img src="../../../assets/img/Contato.png" alt="Fotos de um cachorro segurando um celular na mão">
  </div>

</div>
