<div class="container-localizacao margin">
  <div class="container-localizacao_content">
    <h2>Nossa localização</h2>
    <div class="endereco">
      <img src="../../../assets/img/localizacao_icon.svg" alt="Icone localização">
      <div class="endereco2">
        <p>Endereço:</p>
        <p>Rua Natal, 1116. Henrique Jorge – Fortaleza/CE</p>
      </div>
    </div>
    <div class="endereco">
      <img src="../../../assets/img/whatsapp_icon.svg" alt="Icone Whatsapp">
      <div class="endereco2">
        <p>Whatsapp:</p>
        <p>(85) 9 9979-6336</p>
      </div>
    </div>
  </div>
  <div class="container-mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.2133301299427!2d-38.59570042410184!3d-3.7636943433546395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74c7587ad29b1%3A0x6b09a55b87f807c9!2sR.%20Natal%2C%201116%20-%20Henrique%20Jorge%2C%20Fortaleza%20-%20CE%2C%2060521-092!5e0!3m2!1spt-BR!2sbr!4v1704779692906!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
