<div class="servicos margin">
  <h2>Serviços</h2>
</div>
<div class="servicos-titulo margin">
  <h2>Serviços exclusivos para seu companheiro de quatro patas</h2>
  <p>
    De consultas veterinárias a banho e tosa com estilo, e da escolha de rações à oferta de medicamentos e cosméticos exclusivos para animais, nossos serviços são um mimo para seu pet. Cuide do seu companheiro com o que há de melhor!
  </p>
</div>
<div class="container margin">
  <div class="card">
    <div>
      <img src="../../../../assets/img/atendimento_veterinario_marrom_icon.png" alt="Icone de um estetoscopio">
    </div>
    <h3>Atendimento Veterinário</h3>
    <p>
      Oferecemos serviços abrangentes de atendimento veterinário, incluindo consultas, vacinação e exames. Nossa clínica visa garantir a saúde e o cuidado adequado para seus animais de estimação. Agende uma consulta para proporcionar o melhor para seus companheiros de quatro patas
    </p>
  </div>

  <div class="card">
    <div>
      <img src="../../../../assets/img/pet_store_marrom_icon.png" alt="Icone de um pote de ração">
    </div>
    <h3>Pet Store</h3>
    <p>
      Variedades de rações para cães, gatos e pássaros, além de acessórios, cosméticos e medicamentos. Encontre tudo o que precisa para cuidar do bem-estar dos seus animais de estimação em nossa pet store. Qualidade e variedade em um único lugar.
    </p>
  </div>

  <div class="card">
    <div>
      <img src="../../../../assets/img/banho_e_tosa_marrom_icon.png" alt="Icone de um cachorro no banho">
    </div>
    <h3>Banho e tosa</h3>
    <p>
      Oferecemos banho suave e tosa estilizada com produtos de alta qualidade, priorizando o bem-estar do seu pet. Nosso agendamento é flexível buscando tornar o processo conveniente para você. Conte conosco para cuidar da beleza e higiene do seu companheiro com toda dedicação.
    </p>
  </div>

  <div class="card">
    <div>
      <img src="../../../../assets/img/entrega_gratis_marrom_icon.png" alt="Icone de uma moto">
    </div>
    <h3>Entrega grátis</h3>
    <p>
      "Proporcionamos entrega gratuita para os bairros Henrique Jorge e Jockey Club. Garanta comodidade e receba os produtos para o seu pet no conforto da sua casa. Faça seu pedido e aproveite o benefício da entrega sem custo.  </p>
  </div>

</div>


<app-contato></app-contato>
