<footer class="footer margin">
  <div class="footer-cima"></div>
  <hr class="corVerde">
  <div class="footer-baixo">
    <p>Copyright © 2024. Todos os direitos reservados.</p>
    <div class="footer-baixo__redes">
      <a href="https://www.facebook.com/profile.php?id=61554621069725" target="_blank">
        <img src="../../../assets/img/facebook_icon.svg" alt="icone do facebook">
      </a>
      <a href="https://www.instagram.com/clininavet/" target="_blank">
        <img src="../../../assets/img/instagram_icon.svg" alt="icone do instagram">
      </a>
      <a href="#" target="_blank">
        <img src="../../../assets/img/tiktok_icon.svg" alt="icone do tiktok">
      </a>
    </div>
  </div>
</footer>
