<div class="container margin">
  <div class="container-servicos">

    <div class="card card-verde">
      <img src="../../../assets/img/pet_store_icon.png" alt="Icone de Pet Store">
      <div class="card__content">
        <h3>Pet store</h3>
        <p>
          Encontre na nossa loja tudo o que seu pet precisa! Oferecemos rações, medicamentos e acessórios variados para cães, gatos e pássaros, garantindo nutrição e alegria.   Faça da visita à nossa loja um momento especial para seu companheiro peludo.
        </p>
      </div>
    </div>

    <div class="card card-roxo">
      <img src="../../../assets/img/atendimento_veterinario_icon.png" alt="Icone de Atendimento Veterinário">
      <div class="card__content">
        <h3>Atendimento Veterinário</h3>
        <p>
          Descubra o cuidado especial da Clinina! Oferecemos atendimento veterinário dedicado, com exames, vacinas e medicamentos. Agende agora e proporcione o melhor para o seu pet!
        </p>
      </div>
    </div>

    <div class="card card-roxo">
      <img src="../../../assets/img/entrega_gratis_icon.png" alt="Icone de Atendimento Veterinário">
      <div class="card__content">
        <h3>Entrega grátis</h3>
        <p>
          Não se preocupe com a fome do seu amigo peludo! Oferecemos entrega grátis para os bairros  Henrique Jorge e Jockey Club. Garanta que seu pet receba o carinho da Clinina na porta de casa. Faça seu pedido agora!
        </p>
      </div>
    </div>

    <div class="card card-verde">
      <img src="../../../assets/img/banho_e_tosa_icon.png" alt="Icone de Atendimento Veterinário">
      <div class="card__content">
        <h3>Banho e tosa</h3>
        <p>
          Proporcione ao seu pet um banho e tosa de qualidade! Contamos com profissionais competentes e produtos de alta qualidade para deixar seu amiguinho limpo, cheiroso e feliz. Agende já o cuidado que ele merece!
        </p>
      </div>
    </div>
  </div>
  <div class="img-nina">
    <img src="../../../assets/img/Nina_2.png" alt="Foto da Nina com a dona">
  </div>
</div>

<div class="container-gato margin">
  <div class="img-gato">
    <img src="../../../assets/img/Gato_1.png" alt="Imagem de um gato branco">
  </div>

  <div class="container-gato__content">
    <h2>Seu pet em boas mãos</h2>
    <p>
      Bem-vindo à Clinina, onde cuidar do seu animal de estimação é a nossa prioridade. Oferecemos uma ampla variedade de rações, acessórios e medicamentos, garantindo que cães e gatos recebam o cuidado que merecem. Além disso, temos opções especiais de rações para passarinhos, atendendo a diversas necessidades.
    </p>
    <br>
    <p>
      Nosso atendimento veterinário é personalizado e agendado, assegurando que cada pet receba a atenção necessária. Conte conosco para proporcionar o melhor para o seu companheiro de quatro patas.
    </p>
  </div>
</div>

