<div class="contato margin">
  <h2>Contato</h2>
</div>
<div class="container-contato margin">
  <div class="contato__content">
    <h2>Conecte-se Conosco para o Bem-Estar do Seu Pet</h2>
    <p class="separar">
      Facilite a vida do seu animal de estimação! Agende banhos, tosas e consultas veterinárias diretamente por esse canal. Nossa equipe está pronta para proporcionar o melhor atendimento com apenas alguns cliques. Cuide do seu pet com praticidade e carinho, agende agora!
    </p>

    <div class="endereco">
      <img src="../../../assets/img/localizacao_icon.svg" alt="Icone localização">
      <div class="endereco2">
        <p>Endereço:</p>
        <p>Rua Natal, 1116. Henrique Jorge – Fortaleza/CE</p>
      </div>
    </div>

    <div class="endereco">
      <img src="../../../assets/img/whatsapp_icon.svg" alt="Icone Whatsapp">
      <div class="endereco2">
        <p>Whatsapp:</p>
        <p>(85) 9 9979-6336</p>
      </div>
    </div>
  </div>
  <div class="contato__formulario">
    <input class="input" type="text" placeholder="Nome">
    <input class="input" type="tel" placeholder="Telefone">
    <input class="input" type="email" placeholder="Endereço de E-mail">
    <textarea class="textarea" rows="4" placeholder="Digite sua mensagem"></textarea>
    <div class="botao pointer">
      Solicitar Agendamento
    </div>
  </div>

</div>
<app-contato></app-contato>
