<div class="sobre margin">
  <h2>Sobre</h2>
</div>
<div class="clinina-sobre margin">
  <h2>Clinina</h2>
  <p>
    Bem-vindo à Clinina: onde o sonho de cuidar dos animais com amor se torna realidade. Nasceu do carinho inspirado por nossa querida Maria Leonina, a Nina, que desde 2008 ilumina nossos dias. Essa experiência ampliou nosso amor pelos pets, impulsionando a criação de um espaço dedicado a proporcionar carinho e cuidados especiais.
  </p>
  <br>
  <p>
    Somos uma empresa familiar movida pela missão de cuidar do seu pet com o mesmo amor que Nina nos ensinou. Ela, aos 15 anos, continua saudável e inspirando nossa jornada. Nossa equipe veterinária é formada por duas irmãs, guiadas pela luz do amor de Nina, prontas para oferecer atendimento especializado e afetuoso.
  </p>
  <br>
  <p>
    Junte-se a nós nesta jornada, onde cada passo é guiado pelo amor que Nina nos presenteou. Seu pet merece todo carinho e atenção, e na Clinina, estamos comprometidos em proporcionar isso a cada um que confia em nós.
  </p>
</div>
<div class="imagens-nina margin">
  <div>
    <img src="../../../../assets/img/Nina_3.png" alt="Nina sentada em uma cadeira">
  </div>
  <div>
    <img src="../../../../assets/img/Nina_4.png" alt="Close no nariz da Nina">
  </div>
 <div>
  <img src="../../../../assets/img/Nina_5.png" alt="Nina sentada em uma cadeira com seus donos">
 </div>

</div>
<div class="container margin">
  <div class="container__cards">
    <div class="card marrom">
      <img src="../../../../assets/img/vacinacao_em_dia_icon.png" alt="Icone de uma seringa">
      <div class="card__content">
        <h3>Vacinação em Dia</h3>
        <p>
          Acesse nosso portal para visualizar e manter atualizado o registro de vacinas do seu pet. Garanta que ele esteja sempre protegido e saudável.
        </p>
      </div>
    </div>

    <div class="card roxo">
      <img src="../../../../assets/img/historico_de_consultas_icon.png" alt="Icone de um caderno">
      <div class="card__content">
        <h3>Histórico de Consultas</h3>
        <p>
          Mantenha-se informado sobre todas as consultas anteriores do seu pet. Tenha um histórico completo para facilitar o acompanhamento de sua saúde.
        </p>
      </div>
    </div>

    <div class="card amarelo">
      <img src="../../../../assets/img/alertas_exclusivos_icon.png" alt="Icone de um sino">
      <div class="card__content">
        <h3>Alertas Exclusivos</h3>
        <p>
          Receba notificações automáticas sobre promoções especiais, descontos em produtos e serviços veterinários. Fique sempre por dentro das vantagens que preparamos para você e seu pet.
        </p>
      </div>
    </div>

    <div class="card verde">
      <img src="../../../../assets/img/agendamento_online_icon.png" alt="Icone de um celular">
      <div class="card__content">
        <h3>Agendamento Online</h3>
        <p>
          Agende consultas, exames ou serviços com apenas alguns cliques. Nosso sistema online oferece praticidade e conveniência para cuidar da saúde do seu pet de forma eficiente.
        </p>
      </div>
    </div>
  </div>
  <div>
    <img src="../../../../assets/img/Nina_6.png" alt="Nina com seu dono">
  </div>

</div>
<app-contato></app-contato>
