<div class="container">
  <div class="patas margin">
    <img src="../../../assets/img/patas.png" alt="3 patinhas">
    <h2>
      Atendimento Veterinário: Amor, Carinho e Especialização para a Saúde dos Seus Companheiros de 4 patas.
    </h2>
    <img src="../../../assets/img/patas.png" alt="3 patinhas">
  </div>
  <div class="fotos-equipe margin">
    <div class="fotos-equipe__card">
      <img src="../../../assets/img/equipe_1.png" alt="Imagem da Dra. Ingrid Rocha">
      <h4>Dra. Ingrid Rocha</h4>
    </div>
    <div class="fotos-equipe__card">
      <img src="../../../assets/img/equipe_2.png" alt="Imagem da Dra. Victoria Rocha">
      <h4>Dra. Victoria Rocha</h4>
    </div>
  </div>
  <a class="link-equipe" routerLink="/equipe">
    <div class="botao central">
      Ver Equipe Completa
    </div>
  </a>
</div>


